# IDEs
.idea/
.vscode/
*.swp
*.swo

# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
hugo.log
/static/
/content/books/*

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Local Netlify folder
.netlify

# Environment variables
.env
.env.*